extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
        +alert-error(5000)
        +alert-success(5000)
        .container
            // Banner quảng cáo
        .container-fluid.d-flex.flex-column.bg-light
            section.container-lg.bg-white.d-flex.flex-column.my-3.rounded
            //-#Advertisement
            .row.py-3.ml-2
                .col
                    img.img-fluid.rounded(src='../images/banner-iphone-15-min.jpg' alt='advertisement' width="100%")
            .row.pb-3
                .col.ml-4
                    img.img-fluid.rounded(src='../images/tiki3png.png' alt='advertisement'  width="100%")
                .col
                    img.img-fluid.rounded(src='../images/images (1).jpg' alt='advertisement' width="100%")
                .col
                    img.img-fluid.rounded(src='../images/tiki2.png' alt='advertisement' width="100%")
            section.container-fluid.bg-info.d-flex.flex-column.mb-3.p-4.rounded
                .row.mb-3.ml-2 
                    span.fw-bold.fs-5  Sản phẩm khuyến mãi
                .row
                    .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
                        a(href='/products/detail/iphone-15-pro-128gb-or-chinh-hang-vn-a')
                            img.img-fluid.rounded(src='/images/15PRO.webp' alt='advertisement' width='100%')
                        a.fs-6.text-dark.text-decoration-none.display-5(href='/products/detail/iphone-15-pro-128gb-or-chinh-hang-vn-a') iPhone 15 Pro 256GB | Chính hãng VN/A
                        
                        span.fs-5.text-primary.fw-bold 2088$
                        span
                            | Đã bán 
                            b 67
                            |  sản phẩm
                        .progress
                            .progress-bar.bg-info(role='progressbar' style='width: 40%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                    .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
                        a(href='/products/detail/dien-thoai-samsung-galaxy-s24-8gb-256gb-hang-chinh-hang')
                            img.img-fluid.rounded(src='/images/s24ultra.webp' alt='advertisement' width='100%')
                        a.fs-6.text-dark.text-decoration-none(href='/products/detail/dien-thoai-samsung-galaxy-s24-8gb-256gb-hang-chinh-hang') Điện thoại Samsung Galaxy S24 8GB/256GB 
                        span.fs-5.text-primary.fw-bold 1234$
                        span
                            | Đã bán 
                            b 21
                            |  sản phẩm
                        .progress
                            .progress-bar.bg-info(role='progressbar' style='width: 55%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                    .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
                        a(href='/products/detail/iphone-15-plus-256gb-or-chinh-hang-vn-a')
                            img.img-fluid.rounded(src='/images/iphone15plus.webp' alt='advertisement' width='100%')
                        a.fs-6.text-dark.text-decoration-none(href='/products/detail/iphone-15-plus-256gb-or-chinh-hang-vn-a') 	iPhone 15 Plus 256GB | Chính hãng VN/A
                        span.fs-5.text-primary.fw-bold 845$
                        span
                            | Đã bán 
                            b 16
                            |  sản phẩm
                        .progress
                            .progress-bar.bg-info(role='progressbar' style='width: 76%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                    .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
                        a(href='/products/detail/nubia-redmagic-8s-pro-5g-12gb-256gb-T1R6W3z2O')
                            img.img-fluid.rounded(src='/images/nubia8.jpg' alt='advertisement' width='100%')
                        a.fs-6.text-dark.text-decoration-none(href='/products/detail/nubia-redmagic-8s-pro-5g-12gb-256gb-T1R6W3z2O') Nubia RedMagic 8S Pro 5G 12GB 256GB
                        span.fs-5.text-primary.fw-bold 1979$
                        span
                            | Đã bán 
                            b 31
                            |  sản phẩm
                        .progress
                            .progress-bar.bg-info(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                        //- section.container-lg.bg-white.d-flex.flex-column.mb-3.p-3.rounded
            // Giới thiệu
            section.intro
                .row
                    .col-md-12.text-center
                        h2 Chào mừng đến với Thế giới Điện thoại!
                        p Tại đây, chúng tôi mang đến cho bạn những chiếc điện thoại thông minh mới nhất, công nghệ tiên tiến và trải nghiệm tuyệt vời. Khám phá ngay hôm nay!

                // Jumbotron (khuyến mãi)
            .jumbotron.text-center
                h2 Siêu ưu đãi điện thoại!
                p Giảm giá sốc lên đến 30% cho các dòng điện thoại mới nhất.

            // Sản phẩm nổi bật
            section.featured-products
                .row
                    .col-12
                        +box-head("Sản phẩm nổi bật")
                .row
                    each item in productsFeatured
                        .col-4.mb-3
                            .product-item
                                .inner-image
                                    img( 
                                        href= `/products/detail/${item.slug}`
                                        src=item.thumbnail, a
                                        lt=item.title
                                    )
                                    if(item.featured === "1")
                                        .inner-featured nổi bật
                                .inner-content
                                    a(
                                        href= `/products/detail/${item.slug}`
                                        class="inner-title"
                                    ) #{item.title} 
                                    //- div !{item.description}
                                    .inner-price-new !{item.newPrice}$
                                    .inner-price-old #{item.price}$
                                    .inner-discount -#{item.discountPercentage}%   
            // Sản phẩm mới nhất
            section.new-products
                .row
                    .col-12
                        +box-head("Sản phẩm mới nhất")
                .row
                    each item in productNew
                        .col-4.mb-3
                            .product-item
                                .inner-image
                                    img( 
                                        href= `/products/detail/${item.slug}`
                                        src=item.thumbnail, a
                                        lt=item.title
                                    )
                                    
                                .inner-content
                                    a(
                                        href= `/products/detail/${item.slug}`
                                        class="inner-title"
                                    ) #{item.title} 
                                    //- div !{item.description}
                                    .inner-price-new !{item.newPrice}$
                                    .inner-price-old #{item.price}$
                                    .inner-discount -#{item.discountPercentage}%   
            // Thương hiệu nổi tiếng
            section.brands
                h2 Thương hiệu nổi tiếng
                .row
                    .col-md-2
                        a(href="/products/iphone", class="logo-link")
                            img(src="/images/logoA.png", alt="Apple", style="border-radius: 10px;" )
                    .col-md-2
                        a(href="/products/samsung", class="logo-link")
                            img(src="/images/loggoS.jpeg", alt="Samsung" , style="border-radius: 10px;")
                    .col-md-2 
                        a(href="/products/xiaomi", class="logo-link")
                            img(src="/images/logoX.jpg", alt="XiaoMi" , style="border-radius: 10px;")
                    .col-md-2
                        a(href="/products/oppo", class="logo-link")
                            img(src="/images/logoO.png", alt="Samsung" , style="border-radius: 10px;")
                    .col-md-2
                        a(href="/products/iphone", class="logo-link")
                            img(src="/images/logoA.png", alt="Apple", style="border-radius: 10px;" )
                    .col-md-2
                        a(href="/products/oppo", class="logo-link")
                            img(src="/images/logoR.png", alt="Samsung" , style="border-radius: 10px;" width="90%")

            // Tin tức và khuyến mãi
            section.news-promotions
                h2 Tin tức và khuyến mãi
                .row
                    .col-md-4
                        .card
                            // (Hiển thị tin tức hoặc khuyến mãi)
                    // ... (Thêm các tin tức hoặc khuyến mãi khác)

            // Danh sách sản phẩm điện thoại
            .row
                .col-md-4
                    .card
                        img.card-img-top(src="/images/Galaxy-S24-Ultra-doanh-so-cover.webp", alt="Điện thoại 1")
                        .card-body
                            h5.card-title Galaxy S24 Ultra là smartphone Android bán chạy nhất thế giới trong Q1/2024
                            p.card-text Được biết, Galaxy S24 Series đã phá kỷ lục đặt hàng trước ở một số quốc gia. Theo một báo cáo mới, Galaxy S24 Ultra là smartphone Android bán chạy nhất thế giới vào đầu năm nay,...
                            a.btn.btn-primary(href="https://cellphones.com.vn/sforum/galaxy-s24-ultra-la-smartphone-android-ban-chay-nhat") Chi tiết

                .col-md-4
                    .card
                        img.card-img-top(src="/images/1ios-18-control-center (1).webp", alt="Điện thoại 1")
                        .card-body
                            h5.card-title iOS 18 thêm tùy chọn Control Center vào nút Action trên iPhone 15 Pro
                            p.card-text iOS 18 cho phép gán nút Action cho một trong hàng tá điều khiển có sẵn trong thư viện Control Center mới. Điều này cho phép người dùng sử dụng nút Action để kích hoạt Chế độ tối, Điểm truy cập cá nhân,....
                            a.btn.btn-primary(href="https://cellphones.com.vn/sforum/ios-18-them-control-center-vao-nut-action" target="_blank") Chi tiết 
 

                .col-md-4
                    .card
                        img.card-img-top(src="/images/5-diem-sang-cua-xiaomi-14-ultra-thumbb.webp", alt="Điện thoại 1")
                        .card-body
                            h5.card-title 5 điểm sáng giúp Xiaomi 14 Ultra cạnh tranh ngang ngửa với Galaxy S24 Ultra và iPhone 15 Pro Max
                            p.card-text Xiaomi 14 Ultra là đối thủ đáng gờm của Galaxy S24 Ultra và iPhone 15 Pro Max, hệ thống camera đỉnh cao hợp tác cùng Leica và hiệu năng mạnh mẽ . Với màn hình AMOLED, sạc siêu tốc 90W,...
                            a.btn.btn-primary(href="https://cellphones.com.vn/sforum/5-diem-sang-cua-xiaomi-14-ultra") Chi tiết 

            

