link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" )
header.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
  a.navbar-brand.col-sm-3.col-md-2.mr-0(href=`${prefixAdmin}/dashboard`) ADMIN
  //- input.form-control.form-control-dark.w-100(type='text' placeholder='Search' aria-label='Search')
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
      div(class="text-right")
        a(
          href= `${prefixAdmin}/my-account`
          class="btn btn-primary btn-sm mr-2"
        ) Xin chào , #{user.fullName}
        a(
          href=`${prefixAdmin}/auth/logout`
          class="btn btn-danger btn-sm"
        ) Đăng xuất

//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" )
//- header.header
//-   .container-fluid
//-       .row.align-items-center
//-         .col-3
//-           .inner-logo
//-             a(
//-               href=`${prefixAdmin}/dashboard`
//-             ) ADMIN 
//-               span(class="fa-solid fa-user-tie")

//-         .col-9